.cartpageContents{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px;
    margin: 20px 0px !important;
   
   
    /* border: 1px solid rgb(178, 168, 235); */
}
.cartpageContentsRight{
    background-color: rgb(255, 255, 255);
    border-radius: 5px ;
}
/* / */
.cartpageContentsRight > button{
    margin: 10px 20px;
    border-radius: 4px !important;
}

.calculate{
    background-color: #ffffff;
    margin-top: 0px;
    padding: 25px ;
   
    border-radius: 5px;
}
.prevePriceCartPage , .profitPriceCartPage , .finalPriceCartPage{
    display: flex;
    /* background-color: rgb(184, 97, 97); */
    justify-content: space-between;
    margin: .5rem 0;   
    color: rgb(114, 114, 114);
    font-size: .9rem;
}
.profitPriceCartPage  > p{
    color: #569b0d !important;
}
.prevePriceCartPage  > p > span, .profitPriceCartPage  > p > span, .finalPriceCartPage > p > span{
    color: #929292;
}

 .finalPriceCartPage{
     width: 99% !important;
    padding-top: 20px;
    border-top: 1px solid #bcd2e7;
    color: #000 !important;
    font-size: 1rem !important;
    
}

.sendPriceCartPage{
    width: 100%;
    height: 2.4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daf7bd;
    border: 1px solid #7fff00;
    font-size: 1rem;
    color: #31550a;
   
}
.BtnContinueToBuyCartPage {
    
}
.BtnContinueToBuyCartPage button{
    width: 100% !important;
    height: 3rem;
    font-size: 1rem;
 margin-top: 1rem;
 color: #ffffff !important;
}
/* emptyCart chek_out */
.emptyCart_checkOute{
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.emptyCart_checkOute > div{
    flex-direction: column;
    display: flex ;
    align-items: center;
    justify-content: center;
    background-color: #eeffe9;
    padding: 20px;
    border-radius: 15px;
}
.emptyCart_checkOute > div > button { 
    width: 100%;
    padding: 10px 0;
    background-color: #569b0d;
    border: none;
}
.emptyCart_checkOute > div > button > i{ 
    padding-left: 10px;  
}
.emptyCart_checkOute > div > button > a { 
    color: #ffffff;
}
.emptyCart_checkOute > div > i{
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(23, 227, 50);
}
/* emptyCart clear */
.emptyCart_clear{
   
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.emptyCart_clear > div{
    flex-direction: column;
    display: flex ;
    align-items: center;
    justify-content: center;
    background-color: #e9feff;
    padding: 20px;
    border-radius: 15px;
}
.emptyCart_clear > div > button { 
    width: 100%;
    padding: 10px 0;
}
.emptyCart_clear > div > button > i{ 
    padding-left: 10px;  
}
.emptyCart_clear > div > button > a { 
    color: #ffffff;
}
.emptyCart_clear > div > i{
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(44, 120, 243);
}

/* responsive */
@media only screen and (max-width: 400px) {
  .cartpageContentsLeft span , p  , button , div {
    font-size: .6rem !important;
  }
  }
